<script type="text/ng-template" id="DeleteDialogContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure want to delete?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Delete</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</script>

<h2 ng-class="{ editing: isEditing, 'todo-list-name': true, 'has-error': errors }">
  <input type="text" ng-model="list.name" id="name" placeholder="Name" 
    ng-show="isEditing" focus-on-show 
    ng-blur="acceptChanges()" ng-keydown="$event.which === 13 && acceptChanges()">
  <span class="help-block" ng-repeat="error in errors.name">{{error.message}}</span>
  <span class="editable" title="Click to edit" ng-hide="isEditing" ng-click="edit()">{{list.name}}</span>
</h2>

<div class="title-button-container">
  <button ng-click="addItem()" ng-disabled="isAddingItem" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> Add Item</button>
</div>
<div class="clearfix"></div>

<div class="list-items-container">
  <div class="list-items">
    <!-- Form for adding a new item to the list -->
    <form ng-submit="saveNewItem()" class="inline editing" ng-show="isAddingItem">

      <span class="cell toggle-cell"></span>

      <span class="cell padded-cell">
        <input type="text" class="form-control" placeholder="What needs to be done?" 
          ng-show="isAddingItem" focus-on-show 
          ng-model="newText" ng-keydown="$event.which === 27 && cancelEditing()">
      </span>

      <span class="cell padded-cell reminder" title="Reminder">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Due by?" 
            ng-model="newReminder" ng-keydown="$event.which === 27 && cancelEditing()"
            datepicker-popup="EEE, MMM d yyyy" show-weeks="false"
            is-open="datepickerOpened" ng-focus="openDatepicker($event)">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" style="font-size: 18px"></span>
          </div>
        </div>
      </span>

      <span class="cell action-cell">
        <button type="submit" class="btn btn-primary" title="save">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>

      <span class="cell action-cell">
        <button ng-click="cancelAddItem()" type="button" class="btn btn-default" title="cancel">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </form>

    <!-- Form for displaying and editing existing items in the list -->
    <form ng-submit="saveItem()" ng-repeat="item in list.items | orderBy:'text'" 
        ng-controller="ItemCtrl" ng-class="{completed: isDone, editing:isEditing}">

      <span class="cell toggle-cell">
        <input type="checkbox" class="toggle" ng-model="isDone" ng-hide="isEditing">
      </span>

      <span class="cell padded-cell">
        <input type="text" class="form-control" placeholder="What needs to be done?" 
          ng-show="isEditing" focus-on-show 
          ng-model="item.text" ng-keydown="$event.which === 27 && cancelEditing()">
        <label ng-click="editItem()" ng-hide="isEditing">{{item.text}}</label>
      </span>

      <span class="cell padded-cell reminder" title="Reminder" ng-click="editItem()">
        <div class="input-group" ng-show="isEditing">
          <input type="text" class="form-control" placeholder="Due by?" 
            ng-model="item.reminder" ng-keydown="$event.which === 27 && cancelEditing()"
            datepicker-popup="EEE, MMM d yyyy" show-weeks="false"
            is-open="datepickerOpened" ng-focus="openDatepicker($event)">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" style="font-size: 18px"></span>
          </div>
        </div>
        <label ng-show="item.reminder && !isEditing"><span class="glyphicon glyphicon-time"></span> {{item.reminder | date:"EEE, MMM d yyyy"}}</label>
      </span>

      <span class="cell action-cell">
        <button type="submit" class="btn btn-primary" ng-show="isEditing" title="save">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button ng-click="editItem()" ng-hide="isEditing" type="button" title="edit" class="action-icon edit-button">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </span>

      <span class="cell action-cell">
        <button ng-click="cancelEditing()" ng-show="isEditing" type="button" class="btn btn-default" title="cancel">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button ng-click="removeItem()" ng-hide="isEditing" type="button" title="delete" class="action-icon destroy">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    </form>
  </div>
</div>
