<div class="container-fluid main-content" ng-controller="LoginCtrl">
  <form class="login" ng-submit="login(credentials)" novalidate>
    <h2 class="todo-list-name">Login</h2>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-show="errorMessage">
      <strong>Login failed:</strong> {{errorMessage}}
    </div>
    <div class="form-group">
      <input type="text" ng-model="credentials.email" placeholder="Email" class="form-control" focus-on-show>
    </div>
    <div class="form-group">
      <input type="password" ng-model="credentials.password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>
